<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>    
    <add key="EbayUser" value="info@theoriginalsinstore.com" />
    <add key="EbayPassword" value="rz7356sh$" />
    <add key="Database" value="SERVER=rsbot.chsskanxfjmo.us-west-2.rds.amazonaws.com;DATABASE=rsbot;UID=root;PASSWORD=Zaq1Zaq1;" />
    <add key="CloudinaryAppName" value="dotpi3eua" />
    <add key="CloudinaryKey" value="757673843368737" />
    <add key="CloudinarySecret" value="58C8IyRHHQkAJm7Tk9lfNHDn9E8" />
    <add key="CloudinaryWatermarkId" value="hyq46fqeex1k690polat" />
    <add key="WaitForListingFileSeconds" value="60" />
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
