<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CloudinaryDotNet" version="1.0.26" targetFramework="net452" />
  <package id="eBay" version="3.981.0" targetFramework="net452" />
  <package id="eBay-Finding" version="1.11.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NPoco" version="3.3.4" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.24.0.0" targetFramework="net452" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net452" />
</packages>